extends layout

block main-content
    img#header(src="./Images/mars_nasa.jpg")
    h1.hero Explore different sites of Red Planet by the eyes of wide range of cameras to get the best and unseen experience of MARS 
    p.content NASA has 3 rovers on MARS which are listed below 
    ul.rovers
      li 
        a(href="https://mars.nasa.gov/msl/home/") Curiosity
      li 
        a(href="https://www.jpl.nasa.gov/missions/mars-exploration-rover-opportunity-mer") Opportunity
      li 
        a(href="https://solarsystem.nasa.gov/missions/spirit/in-depth/") Spirit
    p.camera-info All these rovers are using 7 type of different camera to capture different type of photographs and the list of cameras are given below and click on it to access photographs
    ul.camera 
      li 
        a(href="/fhaz") FHAZ (Front Hazard Avoidance Camera)
      li 
        a(href="/rhaz") RHAZ (Rear Hazard Avoidance Camera)
      li 
        a(href="/mast") MAST (MAST Camera)
      li 
        a(href="/chemcam") CHEMCAM (Chemistry and Camera Complex)
      li 
        a(href="/mahlicam") MAHLI (Mars Hand Lens Imager)
      li 
        a(href="/mardicam") MARDI (Mars Descent Imager)
      li 
        a(href="/navcam") NAVCAM (Navigation Camera)
      li 
        a(href="/pancam") PANCAM (Panoramic Camera)
    h1.hero Explore Information Regarding Tesla Roadster Which Is Roaming In Space On Its Way To MARS 
    h4.about-roadster As we are looking into MARS - The Red Planet. There is also some other thing waiting for you to explore about. Elon Musk's Tesla Roadster is on its way to MARS. The Billionaire is sending a car to MARS as a part of research. To know about more click the link below.
    div.info-road
      a(href="/roadster") Tesla Roadster Information About Everything  